.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper .combo {
    max-width: 90vw;
    font-size: clamp(8rem, 10vw, 16rem);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #19A7CE;
}
.wrapper .combo.background-alt {
    background-color: #146C94;
}
.wrapper .combostart-btn {
    margin: 10rem;
}
