.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .combo {
    max-width: 90vw;
    font-size: 20em;
    background-color: #19A7CE;
    white-space: nowrap;
}
.wrapper .combo.background-alt {
    background-color: #146C94;
}